
<div class="contact-container">

    <!-- LEFT SIDE -->
    <div class="contact-content contact-left">
        <h1 class="left-space">Drop me a line</h1>

        <h4 class="left-space">Get in touch for</h4>

       <ul class="left-space tasks">
           <li>-&nbsp; Web Development || Support via Code and CMS platforms</li>
           <li>-&nbsp; Web Design</li>
           <li>-&nbsp; Development of digital documentation and videotutorials for digital tools</li>
           <li>-&nbsp; Video Edition and Motion Graphics</li><br>
       </ul>
       <h5 class="left-space iteractive">... Always willing for improvements and learning ...</h5>

    </div> <!-- Contact Content LEFT-END -->



   <!-- RIGHT SIDE -->
    <div class="contact-content contact-right">
        <div class="shape-animation">
             <div class="ball"></div>
             <div class="shape"></div>
        </div>
        <h3>pbores001@gmail.com</h3><br>
        <h3>+34 650237354</h3>

    </div> <!-- Contact Content RIGTH-END -->


 </div> <!-- CONTACT CONTAINER End -->