<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- My work -->
<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    
    <!-- What I do part 1 -->
    <div class="services">
        <h3>Web Development and Support</h3>
        <p> I develop websites with pure code or with CMS platforms - Sharepoint, Sitefinity and Wordpress, (and Joomla and Moodle but less frenquently).</p>
     </div> 

     <!-- What I do part 2 -->
    <div class="services">
        <h3>Web Design</h3>
        <p>I develop web design with the support of the Adobe set or Bootstrap UI, always keeping in mind different adaptive designs for the usability and accessibility for users.</p>
     </div> 

     <!-- What I do part 3 -->
    <div class="services">
        <h3>Image and Video Edition for IT support</h3>
        <p>I create motion graphics, promotional and technical videos for training activities and for digital documentation in order to produce digital manuals for different workflows (like Flowforma) or different digital tools. </p>
     </div> 
</section>






