<div id="home-container">

<div class="container">
    <span class="text1">Welcome to</span>
    <span class="text2">&lt;devpaula&gt;</span>
</div>

<section class="intro" id="home">
    <div class="top">
    <img class=".p-profile" class="intro__img" src="../../../assets/img/portrait_2.jpg" alt="">
    <h1  class="section__title section__title--intro">
        Hi, I am <strong>Paula Bores</strong>
    </h1>
    </div><br><br>
    <p class="section__subtitle section__subtitle--intro">Web Developer</p>
    
</section>


<app-work></app-work>
<app-resume></app-resume>
<app-my-contact></app-my-contact>
</div> 



