
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">




<!-- ALL RESUME -->
<div class="resume-container" id="resume-box">

<!--//<--------<<-------- <<-------- <-------- <<-------- <<-------- <<--------  LEFT SIDE <<-------- <<-------- <<-------- <<-------- <<-------- <<-------- <<---------->
   
<!--  CONTACT INFO PROFILE Pt.0  -->
<div class="left_side">
    
    <div class="profile_text"><br><br>
        <div class="imgBox">
            <img src="../../../assets/img/cv_picture_2.jpg" alt="">
        </div><br><br>
        <h2>Paula Bores<br><hr><span> Web Developer</span></h2>
    </div><br><br>

    <!-- CONTACT INFO INTRO Pt.1 -->
    <div class="contact_info">
        <h3 class="title"> Contact Information</h3>
        <ul>
            <li>
                <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <span class="text">&nbsp;&nbsp;+34 650237354</span>
            </li>
            <li>
                <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <span class="text">&nbsp;&nbsp;pbores001@gmail.com</span>
            </li>
            <li class="linkedin">
                <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>&nbsp;
                <a style="color: black;" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BcpUdmKTuStmPaozO4OSXTg%3D%3D"><span class="text">Get to know me</span></a>
            </li>
            <li>
                <span class="icon"><i class="fa fa-map-pin" aria-hidden="true"></i></span>
                <span class="text">&nbsp;&nbsp;Basque Country, Spain</span>
            </li>

        </ul>
    </div><br><br>


   <!-- CONTACT INFOR EDUCATION Pt.2 -->
    <div class="contact_info">
        <h3 class="title"> Education</h3><br>
        <ul>
            <li>
               <h5>2017 - 2019</h5>
               <h4>3D Animations, Games and Interactive Environments</h4>
            </li><br>
            <li>
                <h5>2013 - 2018</h5>
                <h4>Audiovisual Comunication Degree Basque Country University</h4>
             </li><br>
             <li>
                <h5>2019 - 2019</h5>
                <h4>Adaptative Web <br> Development</h4>
             </li>
        </ul>
    </div><br><br>

      <!-- CONTACT INFOR LANGUAGES Pt.3 -->
      <div class="contact_info languages">
        <h3 class="title"> Languages</h3>
        <ul>
            <li>
                <span class="text">English</span>
                <span class="percent"></span>
            </li>
            <li>
                <span class="text">Basque</span>
                <span class="percent"></span>
            </li>
            <li>
                <span class="text">Spanish</span>
                <span class="percent"></span>
            </li>
        </ul>
    </div>
</div>


<!--//<--------:> --------:>  --------:> --------:>  --------:>  --------:>  --------:>  RIGHT SIDE --------:> --------:> --------:> --------:> --------:> --------:> --------->

<div class="right_side">
    <div class="about intro">
        <!-- PROFILE INTRO Pt.0 -->
        <h2>Profile&nbsp;</h2>
        <p>I am looking to work as IT consultant or in Web Development with code - <span class="codeSkills">["HTML", "CSS", "JQuery", "JavaScript"]</span> and various CMS Platforms such as <span class="CMSskills">Wordpress, Siteffinity and Sharepoint</span>.<br><br>
        In addition I count with good level of the Adobe set, that allows me to develop creative and digital materials, both for promotional videos and video tutorials related to digital tools to enhance the experience of the company's workforce.  </p>
    </div><br>

    <!-- PROFILE EXPERIENCE Pt.1 -->
    <div class="about experience">
        <h2>Experience&nbsp;</h2>
        <!-- Experience 1 -->
        <div class="box">
                <div class="year_company">
                    <h5>2020 - 2021</h5>
                    <h5>EDA- European Defence Agency</h5>
                    <h6><em>Brussels, Belgium</em></h6>
                </div>
                <div class="text">
                    <h4>IT Consultant</h4>
                    <p>Web support on EDA's CMS platforms such as Sharepoint, Sitefinity and Wordpres; Development of materials and digital documentation (also video tutorials) on the agency's IT tools, in order to improve the digital experience of external and internal users. I implement sites with topics related to the Cybersecurity, Automation of digital processes with FlowForma and Cisco for videoconferencing.</p>
                </div>
        </div>
        <!-- Experience 2 -->
        <div class="box">
            <div class="year_company">
                <h5>2019 - 2020</h5>
                <h5>IDEC S.A.</h5>
                <h6><em>Athens, Greece</em></h6>
            </div>
            <div class="text">
                <h4>ICT support in EU projects</h4>
                <p>Web development and support through CMS platforms such as Wordpress, Joomla and Moodle; Design of logos, promotional videos and creation of dissemination materials for training activities,  workshop of online questionnaires with Lime Survey.</p>
            </div>
    </div>
            <!-- Experience 3 -->
            <div class="box">
                <div class="year_company">
                    <h5>2019 - 2019</h5>
                    <h5>INNOVAE GROUP</h5>
                    <h6><em> San Sebastian, Spain</em></h6>
                </div>
                <div class="text">
                    <h4>3D Modelling and Texturing</h4>
                    <p>3D Modelling, texturing and 3D environment creation for Virtual Reality projects.</p>
                </div>
        </div>
    </div><br><br> <!-- END OF EXPERIENCES -->


     <!-- PROFILE SKILLS Pt.2 -->
     <div class="about skills">
         <h2>Skills&nbsp;</h2><br>
        <!-- WEB DEVELOPMENT SKILLS -->
        <ul class="skillset w-development">
            <li class="skillset_category">
                
                <a class="field" href="#"><span><h4>Web Development</h4></span></a></li>


                <ul class="wdev_menu">
                    <!-- CODING -->
                    <li><h3><i class="fa fa-code" aria-hidden="true"></i> Coding</h3><br>
    
                        <span class="text">- HTML5</span><br>
        
                        <span class="text">- CSS3</span><br>

                        <span class="text">- JavaScript</span><br>

                        <span class="text">- JQuery</span><br>
        
                        <span class="text">- Github</span><br>

                        <span class="text">- Bootstrap</span><br> 

                        <span class="text">- Angular</span><br> 
                    </li>

                    <!-- CMS PLATFORMS -->
                    <li><h3><i class="fa fa-laptop" aria-hidden="true"></i> CMS Platforms</h3><br>      
                        <span class="text">- Wordpress</span><br>
                        <span class="text">- Sharepoint</span><br>
                        <span class="text">- Sitefinity</span><br>
                    </li>
                </ul>
        </ul><br><br><br>

            <!-- WEB DESIGN SKILLS -->
        <div class="visualSkills">
            <ul class="skillset w-design">
            <li class="skillset_category">
            <a class="field" href="#"><span><h4>Web Design</h4></span></a>
            <ul>
                    <li>
                        <span class="text">-Photoshop</span>
                    </li>
                    <li>
                        <span class="text">-Illustrator</span>
                    </li>
                    <li>
                        <span class="text">-In Design</span>
                    </li>
                    <li>
                        <span class="text">-Bootstrap Studio</span>
                    </li>
                </ul>    
            </li>
           
        </ul>


           <!-- VIDEO + IMAGESKILLS -->
           <ul class="skillset audiovisuals">
            <li class="skillset_category">
            <a class="field" href="#"><span><h4>Image & Video Edition</h4></span></a>  
                <ul>
                    <li>
                        <span class="text">-After effects</span>
                    </li>
                    <li>

                        <span class="text">-Illustrator</span>
                    </li>
                    <li>
                        <span class="text">-Premiere</span>
                    </li>
                </ul>    
        </li>

        </ul>
    </div></div><br><br> <!-- End of SKILLS -->





        <!-- PROFILE INTERESTs Pt.3 -->
        <div class="about interests">
            <h2>Interests&nbsp;</h2><br>
            <ul>
                <li>
                    <span class="icon hobbies joystick">🎮</span>
                    <span class="text">&nbsp;Gaming</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                </li>
                <li>
                    <span class="icon hobbies">🕹️</span>
                    <span class="text">&nbsp;Virtual Reality</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                </li>
                <li>
                    <span class="icon hobbies">🐙</span>
                    <span class="text">&nbsp;Graphic Novel</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                </li>
                <li>
                    <span class="icon hobbies">🎞️</span>
                    <span class="text">&nbsp;Cinematography</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                </li> 
                <li>
                    <span class="icon hobbies"><i class="fa fa-free-code-camp" aria-hidden="true"></i></span>
                    <span class="text">&nbsp;Free Code Camp</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                </li>
                
            </ul>
        </div>




        </div> <!-- RIGHT SIDE END -->

</div> <!-- AL RESUME End -->
